@charset 'utf-8';
@import "libs/_resetHtml5";
@import "libs/_clearfix";
@import "libs/common";
@import "libs/animate";


body {
  font: 14px/1.4286  'Simhei', Helmet ,Arial, SimSun, Helvetica, sans-serif;
}


// $pagers-spacing: 5px;
// $pagers-sprite-dimensions: true;
// @import "common/pagers/*.png";
// @include all-pagers-sprites;


$icons-spacing: 10px;
$icons-sprite-dimensions: true;
@import "common/icons/*.png";
@include all-icons-sprites;

html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

a{
  text-decoration: none;
}